h1
{
	color:cornflowerBlue;
	border-color:black;
	border-width:5px;
	border-style:solid;

	border:4px dashed yellow;
}
h3
{
	color: rgba(50,234,25,0.8);
}
li
{
	color:#FF336E;
	background: rgb(10,0,80);
}
body
{
	background : pink;